<div class="intro-contain">
</div>

<div class="intro intro-enter">
    <h1 class="greet">Hi There!🙌</h1>
    <h2>I'm Saram! Beat Maker is a minimal app where you can play drums and some snares 🎶 by pressing the respective keys on your keyboard. Touch the keys if you're on a mobile device 🤷 Have fun!😎💕</h2>
    <br>
    <h2>Use on Desktop for best experience. Let the website load a bit if the sounds are not playing immediately 😊</h2>
    <div class="intro-btn">
        <div class="purple">Okay! ✌</div>
        <div class="white">Okay! 👍</div>
    </div>
    
</div>