<audio data-key="65" src="{{ 'assets/audio/kick.wav' | relative_url }}"></audio>
<audio data-key="83" src="{{ 'assets/audio/snare.wav' | relative_url }}"></audio>
<audio data-key="68" src="{{ 'assets/audio/clap.wav' | relative_url }}"></audio>
<audio data-key="70" src="{{ 'assets/audio/hihat.wav' | relative_url }}"></audio>
<audio data-key="71" src="{{ 'assets/audio/cymbal.wav' | relative_url }}"></audio>
<audio data-key="72" src="{{ 'assets/audio/hat.wav' | relative_url }}"></audio>
<audio data-key="74" src="{{ 'assets/audio/tom.wav' | relative_url }}"></audio>
<audio data-key="75" src="{{ 'assets/audio/percussions.wav' | relative_url }}"></audio>
<audio data-key="76" src="{{ 'assets/audio/bass.wav' | relative_url }}"></audio>

